<div ng-controller="AdmissionCtrl">
    <form role="form">
        <div class="form-group">
            Rationale
            <p>{{admissionRequest.rationale}}</p>
        </div>
        <div class="form-group">
            Last Name
            <p>Bravo</p> <!-- TODO change to dynamic -->
        </div>
        <div class="form-group">
            First Name
            <p>Johnny</p> <!-- TODO change to dynamic -->
        </div>
        </div>
        <div class="form-group">
            Local Doctor
            <p>Jimmy Joe</p> <!-- TODO make dynamic -->
        </div>
        <div class="form-group">
            <label for="patient-roomId">Room </label>
            <input type="text" id="patient-roomId" name="patient-roomId" class="form-control" ng-model="roomId"
                placeholder="Enter roomId" integer>
        </div>
        <div class="form-group">
            <label for="patient-bedId">Bed </label>
            <input type="text" id="patient-bedId" name="patient-bedId" class="form-control" ng-model="bedId"
                placeholder="Enter bedId" integer>
        </div>

        <button type="submit" class="btn btn-default" ng-show="newPath()" ng-click="admit()">Admit</button>
        <button type="submit" class="btn btn-default" ng-hide="newPath()" ng-click="save()">Update</button>

    </form>
</div>