<div ng-controller="RationaleCtrl">
    <form role="form">
        <div class="form-group">
            Rationale
            <p>{{admissionRequest.rationale}}</p>
        </div>
        <div class="form-group">
            Last Name
            <p>{{patient.lastName}}</p> <!-- TODO change to dynamic -->
        </div>
        <div class="form-group">
            First Name
            <p>{{patient.firstName}}</p> <!-- TODO change to dynamic -->
        </div>
        <div class="form-group">
            <h5>Outbound Ward</h5>
            Name
            <p>{{ward.name}}</p> <!-- TODO make dynamic -->
        </div>
        <div class="form-group">
            Local Doctor
            <p>{{doctorName}}</p> <!-- TODO make dynamic -->
        </div>
        <div class="form-group">
            Charge Nurse
            <p>{{chargeNurseName}}</p> <!-- TODO make dynamic -->
        </div>

        <button type="submit" class="btn btn-default" ng-click="back()">Go Back </button>

    </form>
</div>