<div ng-controller="RegisterCtrl">

    <form class="navbar-form navbar-left" role="search">
        <div class="modal-header">
            <h4 class="modal-title">Create an Account</h4>
        </div>
        <div class="modal-body form-group">
            <label class="login-field-icon fui-mail" for="create-email"></label>
            <input type="email" id="create-email" class="form-control" ng-model="User.email"
                   placeholder="email@example.com">
            <label class="login-field-icon fui-user" for="create-firstname"></label>
            <input type="text" id="create-firstname" class="form-control" ng-model="User.firstName"
                   placeholder="First Name">
            <label class="login-field-icon fui-user" for="create-lastname"></label>
            <input type="text" id="create-lastname" class="form-control" ng-model="User.lastName"
                   placeholder="Last Name">
            <label class="login-field-icon" for="create-wardId">Ward ID</label>
            <select class="form-control" id="create-wardId" ng-model="User.wardId" integer>
                <option>1</option>
                <option>2</option>
            </select>
            <label class="login-field-icon" for="create-roles">Role</label>
            <select class="form-control" id="create-roles" ng-model="RoleChoice">
                <option>Medical Staff</option>
                <option>Charge Nurse</option>
                <option>Doctor</option>
            </select>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="onRegister()">Create</button>
        </div>
        <div ng-show="error" class="alert alert-danger">
            <strong>Warning!</strong> {{error.message}}
        </div>
    </form>

</div>
