<div ng-controller="WardDetailCtrl">

    <h5>{{ward.name}} {{'(' + patients.length + ')'}}</h5>

    <button class="btn btn-primary btn-margin">Register</button>
    <button class="btn btn-danger btn-margin" ng-click="dischargePatient()">Discharge</button>
    <button class="btn btn-warning btn-margin">Transfer</button>

    <table class="table table-striped table-bordered table-condensed">
        <th>
            <td>Last Name <b class="caret"></b></td>
            <td>First Name <b class="caret"></b></td>
            <td>Health Ins# <b class="caret"></b></td>
            <td>Room <b class="caret"></b></td>
            <td>Bed <b class="caret"></b></td>
            <td>Status <b class="caret"></b></td>
        </th>
        <tr ng-repeat="patient in patients" class="selected-{{patient.selected}}">
            <td class="active"><input type="checkbox" ng-model="patient.selected"></td>
            <td>{{patient.details.lastName}}</td>
            <td>{{patient.details.firstName}}</td>
            <td>{{patient.details.healthInsNum}}</td>
            <td>{{patient.roomId}}</td>
            <td>{{patient.bedId}}</td>
            <td>{{patient.status}}</td>
        </tr>
    </table>

    <br>
    <br>
    <h5>Admissions ({{admissionsRequest.length}})</h5> <!-- Make Dynamic -->

    <button class="btn btn-primary btn-margin" ng-click="admitPatient()">Admit</button>
    <button class="btn btn-danger btn-margin">Refuse</button>
    <button class="btn btn-info btn-margin">View</button>

    <table class="table table-striped table-bordered table-condensed">
        <th>
            <td>Last Name <b class="caret"></b></td>
            <td>First Name <b class="caret"></b></td>
            <td>Health Ins# <b class="caret"></b></td>
            <td>Outbound Ward<b class="caret"></b></td>
            <td>Outbound Nurse <b class="caret"></b></td>
            <td>Priority <b class="caret"></b></td>
            <td>Rationale <b class="caret"></b></td>
        </th>
        <tr ng-repeat="request in admissionsRequest" class="selected-{{request.selected}}">
            <td class="active"><input type="checkbox" ng-model="request.selected"></td>
            <td>{{request.patientDetails.lastName}}</td>
            <td>{{request.patientDetails.firstName}}</td>
            <td>{{request.patientDetails.healthInsNum}}</td>
            <td>{{request.fromWardId}}</td>
            <td>{{request.outboundNurse}}</td>
            <td>{{request.priority}}</td>
            <td>{{request.rationale}}</td>
        </tr>
    </table>
</div>

