<div class="list-group" ng-controller="WardListCtrl">
    <a ng-repeat="ward in wards"
       href="#/ward/{{ward.wardId}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ward.name}}<small>{{ward.patients.length}} patients, {{ward.beds.length}} beds</small></h4>


        <dl class="dl-horizontal">
            <dt>Doctor</dt> <dd>{{ward.doctor.firstName + ' ' + ward.doctor.lastName}}</dd>
            <dt>Charge Nurse</dt> <dd>{{ward.chargeNurse.firstName + ' ' + ward.chargeNurse.lastName}}</dd>
        </dl>

    </a>
</div>