<!doctype html>
<html ng-app>
  <head>
    <!-- Loading Bootstrap with Flat UI -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">

    <!-- Angular -->
    <script src="components/angular/angular.js"></script>
  </head>
  <body>
    <div class="container">
    	<form class="create-account">
    		<input type="text" ng-model="email" placeholder="email@moustache.com" class="form-control">
    		<input type="text" ng-model="firstName" placeholder="First Name" class="form-control">
    		<input type="text" ng-model="lastName" placeholder="Last Name" class="form-control">
    		<button class="btn btn-hg btn-primary">
  				Create!
			</button>
		</form>
    </div>
    <div class="jumbotron">
  		<h1>Hello, world!</h1>
  		<p>...</p>
  		<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>

  </body>

  <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>